
@{
    ViewBag.Title = "News1";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

    <main class="tintuc-container">
        <div class="tintuc-title">
            <h2>2 vé xem phim 2d chỉ với 85k - nhập tiệc cùng seabank</h2>
        </div>

        <div class="tintuc-left">
            <img src="~/Content/img/eventss/350x495-daitiecchaohe.jpg" alt="">
        </div>

        <div class="tintuc-right">
            <p>- Mua 02 vé xem phim 2D chỉ với 85.000 VNĐ khi đặt vé online qua website <strong>CGV.vn</strong> hoặc <strong>ứng dụng di động (app mobile)</strong> của <strong>CGV</strong> bằng <strong>thẻ quốc tế SeABank.</strong><br>- Áp dụng từ 9h vào thứ năm đến chủ nhật hàng tuần. Từ 05/03/2020 đến 05/05/2020 (hoặc đến khi hết ngân sách chương trình).<br>- Áp dụng tất cả Thẻ quốc tế SeABank (bao gồm cả thẻ chính và thẻ phụ).<br><br></p>
            <p><strong>Điều kiện áp dụng:</strong><br>- Số lượng vé ưu đãi cho khách hàng trong toàn bộ thời gian diễn ra chương trình: tối đa 592 suất ưu đãi.<br>- Mỗi thẻ sẽ được áp dụng ưu đãi tối đa 5 lần trong toàn bộ thời gian chương trình.<br>- Mỗi ngày áp dụng tối đa 100 suất ưu đãi<br>- Chương trình có thể kết thúc trước thời hạn nếu số lượng vé ưu đãi tặng khách hàng đạt 592 suất trước thời gian kết thúc chương trình và theo quy tắc mua trước, hưởng khuyến mại trước.<br>- SeABank giữ toàn quyền chấm dứt, thay đổi hay bằng cách khác xử lý chương trình khuyến mãi tại bất kỳ thời điểm nào, đảm bảo phù hợp với quy định của Pháp luật. <br>- Nếu có thay đổi, bổ sung thể lệ của chương trình, SeABank sẽ có thông báo chính thức tại website www.seabank.com.vn<br>- SeABank sẽ không chịu trách nhiệm cho bất kỳ khiếu nại, tổn thất, thiệt hại, chi phí mà bất kỳ cá nhân nào gánh chịu, dưới bất kỳ hình thức nào có liên quan đến hàng hóa/ dịch vụ mà khách hàng được cung cấp bởi các đối tác không phải SeABank.<br>- Chủ thẻ có trách nhiệm lưu giữ lại hóa đơn mua hàng và hóa đơn thanh toán thẻ để phục vụ cho việc tra soát các giao dịch nghi ngờ gian lận.</p>
        </div>
    </main>

