
@{
    ViewBag.Title = "News3";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

    <main class="tintuc-container">
        <div class="tintuc-title">
            <h2>2 vé xem phim 2d chỉ với 85k - nhập tiệc cùng seabank</h2>
        </div>

        <div class="tintuc-left">
            <img src="~/Content/img/eventss/COCA_REFILL_350x495.jpg" alt="">
        </div>

        <div class="tintuc-right">
            <p><strong>Nội dung ưu đãi:</strong> <br>- Khách hàng khi mua Combo Coca (bao gồm 1 bắp mix, 2 nước ngọt, 1 snack) giá 119,00 VNĐ, được tặng ngay 01 lần refill nước ngọt miễn phí.<br><br><strong>Kênh áp dụng ưu đãi:</strong><br>- Trực tuyến trên ứng dụng CGV Cinemas hoặc trên trang chủ của CGV: www.cgv.vn <br>- Trực tiếp tại quầy<br><br><strong>Điều kiện áp dụng:</strong><br>- Áp dụng tại tất cả các rạp TP.Hồ Chí Minh, Hà Nội.<br>- Số lượng quà tặng có hạn, chương trình có thể kết thúc sớm hơn dự kiến.<br>- Coupon refill nước ngọt chỉ áp dụng đổi trong ngày xem phim.</p>
        </div>
    </main>

