
@{
    ViewBag.Title = "News2";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

    <main class="tintuc-container">
        <div class="tintuc-title">
            <h2>mua vé xem phim giá 50K bằng thẻ visa</h2>
        </div>

        <div class="tintuc-left">
            <img src="~/Content/img/eventss/uu-dai-visa-cgv-350X495.jpg" alt="">
        </div>

        <div class="tintuc-right">

            <p><strong>THỜI GIAN ƯU ĐÃI:</strong> Áp dụng vào các ngày Thứ ba (Bắt đầu vào lúc 9:00 sáng) hàng tuần từ 20/02/2020 – 17/11/2020 (Toàn quốc)&nbsp;</p>
            <p></p>
            <p><strong>NỘI DUNG ƯU ĐÃI:&nbsp;</strong></p>
            <p>- Khách hàng khi sử dụng thẻ do VISA phát hành thực hiện giao dịch mua vé xem phim 2D CGV sẽ được hưởng ưu đãi mua vé xem phim với giá 50.000VNĐ/ vé</p>
            <p><strong>KÊNH ÁP DỤNG ƯU ĐÃI:<span style="white-space: pre;"> </span>&nbsp;</strong></p>
            <p>- Mua vé trực tuyến trên ứng dụng CGV Cinemas hoặc trên trang chủ của CGV: www.cgv.vn :Áp dụng cho tất cả các loại thẻ VISA</p>
            <p>- Mua vé trực tiếp tại quầy: Áp dụng cho thẻ VISA một chạm (CONTACTLESS)</p>
            <p></p>
            <p><strong>CÁCH THỨC NHẬN ƯU ĐÃI KHI MUA VÉ TRỰC TUYẾN:</strong></p>
            <p>- Bước 1: Chọn mua 01 vé xem phim 2D&nbsp;</p>
            <p>- Bước 2: Tại mục “Thanh toán”, chọn ô “Đối tác”, tiếp tục chọn “VISA_MUA VE GIA 50K”&nbsp;</p>
            <p>- Bước 3: Chọn “Xác Nhận”. Hệ thống sẽ tự động giảm trừ giá trị thanh toán về 50.000 VNĐ.</p>
            <p>- Bước 4: Nhận vé tại rạp CGV</p>
            <p></p>
            <p><strong>CÁCH THỨC NHẬN ƯU ĐÃI KHI MUA VÉ TẠI QUẦY:</strong></p>
            <p>- Bước 1: Mang thẻ “VISA một chạm” (Contactless) đến các rạp chiếu phim CGV trên toàn quốc.&nbsp;</p>
            <p>- Bước 2: Thông báo với rạp tham gia chương trình khuyến mãi “MUA VÉ XEM PHIM GIÁ 50K BẰNG THẺ VISA” trước khi chọn vé.&nbsp;</p>
            <p>- Bước 3: Chọn vé và thanh toán chạm bẳng thẻ “VISA một chạm” (Contactless) theo hướng dẫn của nhân viên rạp</p>
            <p></p>
            <p><strong>Điều kiện và điều khoản:</strong></p>
            <p>- Không giới hạn số lượng ưu đãi cho mỗi chủ thẻ</p>
            <p>- Mỗi giao dịch chỉ gồm 01 vé xem phim với giá ưu đãi</p>
            <p>- Áp dụng cho 300 giao dịch đầu tiên vào mỗi thứ Ba hằng tuần</p>
            <p>- Vé xem phim không có giá trị quy đổi thành tiền mặt hay hoàn trả.</p>
            <p>- Chương trình áp dụng cho các giao dịch vào&nbsp; Thứ ba hằng tuần trong suốt thời gian diễn ra chương trình ,khách hàng có thể chọn mua vé xem phim cho các suất chiếu ở tất cả các ngày trong tuần (trừ các ngày lễ, Tết theo quy định của Nhà Nước),</p>
            <p>- Vé xem phim áp dụng cho các suất chiếu thông thường.</p>
            <p>- Khuyến mãi KHÔNG áp dụng cho Suất chiếu Sớm, Suất chiếu Đặc biệt, và các phòng chiếu đặc biệt như: IMAX, 4DX, GOLD CLASS, STARIUM, L’AMOUR, SCREENX, PREMIUM, SWEETBOX…&nbsp;</p>
            <p>- Khuyến mãi không áp dụng đồng thời với các chương trình khuyến mãi khác của CGV và đối tác.&nbsp;</p>
            <p>- Chương trình có thể kết thúc trước thời hạn nếu số lượng vé ưu đãi tặng khách hàng đạt số lượng vé quy định trước thời gian kết thúc chương trình và theo quy tắc mua trước, hưởng khuyến mại trước.</p>
            <p>- CGV bảo lưu toàn quyền điều chỉnh hoặc kết thúc chương trình tại bất kỳ thời điểm nào mà không cần thông báo trước hoặc chịu trách nhiệm bồi thường bằng tiền mặt hoặc tài sản.</p>
            <p>- CGV bảo lưu quyền không chấp nhận hoặc từ chối người tham gia có dấu hiệu vi phạm các quy định chương trình (căn cứ theo Điều khoản sử dụng dịch vụ hoặc có bất kì hành vi nào mà bên tổ chức cho rằng là không phù hợp hoặc không thể chấp nhận).</p>
            <p>- CGV bảo lưu quyền hủy bỏ, sửa đổi và/hoặc điều chỉnh toàn bộ hoặc một phần bất kì các điều kiện và điều khoản của chương trình tại bất kỳ thời điểm nào mà không cần thông báo trước cho người tham gia.</p>
            <p>- Trong trường hợp xảy ra tranh chấp, quyết định của CGV là quyết định cuối cùng.&nbsp; &nbsp;</p>
            <br>



        </div>
    </main>

