
<div class="footer">
    <div class="footer-brand-slide">
        <div class="sect-smuse">
            <ul>
                <li><a href="#" class="dx">4DX</a></li>
                <li><a href="#" class="imax">Imax</a></li>
                <li><a href="#" class="starium">Starium</a></li>
                <li><a href="#" class="gold-class">Goldclass</a></li>
                <li><a href="#" class="lamour">L'amour</a></li>
                <li><a href="#" class="sweet">Sweetbox</a></li>
                <li><a href="#" class="dolby-atmos">Dolly Atmos</a></li>
                <li><a href="#" class="premium-cinema">Premium Cinema</a></li>
                <li><a href="#" class="screenx">Screenx</a></li>
                <li><a href="#" class="cine-foret">Cine & Foret</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-cgv-policy">
    <div class="content-cgv-policy">
        <div class="cgv-vietnam">
            <h3>CGV Việt Nam</h3>
            <ul>
                <li><a href="#">Giới Thiệu</a></li>
                <li><a href="#">Tiện Ích Online</a></li>
                <li><a href="#">Thẻ Quà Tặng</a></li>
                <li><a href="#">Tuyển Dụng</a></li>
                <li><a href="#">Liên Hệ Quảng Cáo CGV</a></li>
            </ul>
        </div>
        <div class="cgv-policy">
            <h3>Điều khoản sử dụng</h3>
            <ul>
                <li><a href="#">Điều Khoản Chung</a></li>
                <li><a href="#">Điều Khoản Giao Dịch</a></li>
                <li><a href="#">Chính Sách Thanh Toán</a></li>
                <li><a href="#">Chính Sách Bảo Mật</a></li>
                <li><a href="#">Câu Hỏi Thường Gặp</a></li>
            </ul>
        </div>
        <div class="cgv-follow-us">
            <h3>Kết nối với chúng tôi</h3>
            <ul>
                <li><a href="#" class="facebook">FaceBook</a></li>
                <li><a href="#" class="youtube">Youtube</a></li>
                <li><a href="#" class="line">Line</a></li>
                <li><a href="#" class="insta">Instargram</a></li>
                <li><a href="#" class="zalo">Zalo</a></li>
            </ul>
            <div class="cgv-permission">
                <h2><a href="#" target="_blank">cgv</a></h2>
            </div>
        </div>
        <div class="customer-cgv">
            <h3>Chăm sóc khách hàng</h3>
            <p style="line-height: 22px;">
                Hotline: 1900 6017
                <br>
                Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gòm cả Lễ Tết)
                <br>
                Email hỗ trợ:
                <a href="#">hoidap@cgv.vn</a>
            </p>
        </div>
    </div>
</div>

<div class="footer-cgv-address">
    <div class="cgv-address-content">
        <div class="logo-footer-cgv">$nbsp;</div>
        <div class="text-cgv-address">
            <h3>Công ty tnhh cj cgv vietnam</h3>
            <p>
                Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 31/7/2008,
                đăng ký thay đổi lần thứ 5 ngày 14/10/2015, cấp bởi Sở KHĐT thành phố Hồ Chí Minh.
            </p>
            <p>
                Địa Chỉ: Tầng 2, Rivera Park Saigon - Số 7/28 Thành Thái, P.14, Q.10, TPHCM.
            </p>
            <p>Hotline: 1900 6017</p>
            <p>COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED .</p>
        </div>
    </div>
</div>

